* {
    box-sizing: border-box;
    font-family: "Noto Sans Georgian", sans-serif !important;
}

body {
    color: #555f62;
    background-color: #f9fafa;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

.wrapper {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}